<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html charset=utf-8" http-equiv="content-type"/>
        <title>{{title}}</title>
        <meta name="author" content="CropsHackerGroup"/>
        <meta name="description" content="{{description}}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Crops - Sistema de control de plagas</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Mapa</a></li>
                <li><a href="/new">Nuevo Punto</a></li>
              </ul>
            </div>
          </div>
        </nav>
        {{{body}}}
    </body>
</html>