<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCyQId5aEVBNEt2_-ZXdWwNI-cTX-jUTvc&sensor=FALSE">
</script>
<div id="map_canvas" class="col-sm-12" style="height:600px"></div>
<!-- Desde aquí podés trabajar Dustin-->
<style>
h3{color: green;}
</style>
<h3>Descripcion</h3>
<!--<button type="button" class="btn btn-info" aria-label="Left Align">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>     <a href="#descripcion_proyecto">Know more</a>
</button>esto esta en standby no se si lo ocupare x ahora q se quede aquí xD-->
<p><a class="btn btn-primary btn-sm" onClick="document.getElementById('oculto').style.visibility='visible'">Know more...</a></p>
<div id="oculto" style="visibility:hidden"> 
This project is focused to the warning of diseases and pests that can threaten harvests all around the world, in the past few years, diseases and pests on harvest has caused an estimated of $1 billion in economic damage and the potential loss of up to 500,000 jobs. <br /> The data provided by this website and app can help to mitigate their spread and the onset of epidemics.
</div> 
<br>
<!-- Hasta acá, dejá este script de último-->
<script src="/js/home.js"></script>
