<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCyQId5aEVBNEt2_-ZXdWwNI-cTX-jUTvc&sensor=FALSE">
</script>
<div id="map_canvas" class="col-sm-12" style="height:600px"></div>
<!-- Desde aquí podés trabajar Dustin-->
<style>
h3{color: purple; margin-left: 70px; margin-right: 70px;}
</style>
<h3>Description</h3>
<!--<button type="button" class="btn btn-info" aria-label="Left Align">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>     <a href="#descripcion_proyecto">Know more</a>
</button>esto esta en standby no se si lo ocupare x ahora q se quede aquí xD-->
<p><a class="btn btn-primary btn-sm" onClick="document.getElementById('oculto').style.visibility='visible'">Know more...</a></p>
<div id="oculto" style="visibility:hidden"> 
<p class="serif">This project is focused to the warning of diseases and pests that can threaten harvests all around the world, in the past few years, diseases and pests on harvest has caused an estimated of $1 billion in economic damage and the potential loss of up to 500,000 jobs. <br /> The data provided by this website and app can help to mitigate their spread and the onset of epidemics.</p>
<p><a class="btn btns-primary" onClick="document.getElementById('oculto').style.visibility='hidden'">Hide...</a></p>
</div>
<br />
<h3>How does the app work?</h3>
<style>
p.serif{color: white; font-family: "Verdana", verdana, serif; margin-top: 0px; margin-left: 70px; margin-right: 70px; border-radious: 25px; background: #780B8E; padding: 20px; width: 600px; height: 160px;}
a{margin-left: 70px; margin-right: 70px;}
body{background-color: #18D3EB}
</style>
<p><a class="btn btn-primary btn-sm" onClick="document.getElementById('oculto2').style.visibility='visible'">Know more...</a></p>
<div id="oculto2" style="visibility:hidden">
<p class="serif">This app obtains info. about the new diseases and pests, but also, alerts through the android app, to all who has a connection to Internet and the app installed.<br /> So, if a new disease or pest is affecting areas near you, the app will alert you about what disease or pest is it, it will give you information about it, and at last it will give you recommendations that you can take to face this disease or pest.</p>
<p><a class="btn btns-primary" onClick="document.getElementById('oculto2').style.visibility='hidden'">Hide...</p>
</div>
<!-- Hasta acá, dejá este script de último-->
<script src="/js/home.js"></script>

