<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCyQId5aEVBNEt2_-ZXdWwNI-cTX-jUTvc&sensor=FALSE">
</script>
<div id="map_canvas" class="col-sm-12" style="height:600px"></div>
<!-- Desde aquí podés trabajar Dustin-->
<!-- Hasta acá, dejá este script de último-->
<script src="/js/home.js"></script>