<h1>Add new pest or disease</h1>
	<div class="row">
    <form role="form" class="col-xs-5">
<div class="input-group">
  <span class="input-group-addon" id="name">Disease/Pest's Name</span>
  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
</div>
<select class="form-control">
	<option value="pest">Pest</option>
	<option value="disease">Disease</option>
</select>
<div class="input-group">
  <span class="input-group-addon" id="description">Description</span>
  <input type="text" class="form-control" placeholder="Descripción" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="url">URL</span>
  <input type="text" class="form-control" placeholder="http://example.com" aria-describedby="basic-addon1">
</div>
<label>
	<br>
	<br>
	Ubicación en el mapa
</label>
<div class="input-group">
  <span class="input-group-addon" id="range">Infection's Range</span>
  <input type="text" class="form-control" placeholder="Range" aria-describedby="basic-addon1">
</div>
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Agregar
</button>
</form>
</div>