<h1>Add new pest or disease</h1>
	<div class="row">
    <form role="form" class="col-xs-5">
    <label>
    Pest/Disease's name:
    </label>
<div class="input-group">
  <span class="input-group-addon" id="name"></span>
  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
</div>
<select class="form-control">
	<option value="pest">Pest</option>
	<option value="disease">Disease</option>
</select>
<label>
Description:
</label>
<div class="input-group">
  <span class="input-group-addon" id="description"></span>
  <input type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1">
</div>
<label>
URL:
</label>
<div class="input-group">
  <span class="input-group-addon" id="url"></span>
  <input type="text" class="form-control" placeholder="http://example.com" aria-describedby="basic-addon1">
</div>
<label>
<br>
<br>
<br>
<br>
Range:
</label>
<div class="input-group">
  <span class="input-group-addon" id="range"></span>
  <input type="text" class="form-control" placeholder="Range" aria-describedby="basic-addon1">
</div>
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Agregar
</button>
</form>
</div>