body {
    background-color: #867791;
}

h1{
    color:green;
    text-align: center;
    font-style:italic;
    font-variant:small-caps;
    font-weight:bold;
    border-radius: 25px;
    background: #060628;
}

#map label {
    line-height: 34px;
}

button{margin: 10px auto;}
