body {
    background-color: #867791;
}

h1{
    color:green;
    text-align: center;
    font-style:italic;
    font-variant:small-caps;
    font-weight:bold;
    border-radius: 25px;
    background: #060628;
}

.input-group{
    margin-left: 30px;
    margin-bottom: 30px
}
select{margin-bottom:30px;
margin-left:30px;}

button{margin-left: 30px}
label {margin-left:30px;}